.contact-section{
    height: 100%;
    font-family: lucida console ;
    box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    
}

.contact-form-design{
    margin-top: 50px;
}

#dark .contact-section{
    background:linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
}

.contact-form-iamge img{

    height: 600px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 50px;

}

.contact-form input{

    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

#dark .contact-form input{
    border: 2px solid rgb(149, 149, 27);
    color: red;

   
}

.contact-form textarea{
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
}

#dark .contact-form textarea{
    border: 2px solid rgb(149, 149, 27);
    color: red;
}

.custom-select-tag{
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;

}

#dark .custom-select-tag{
    border: 2px solid rgb(149, 149, 27);
    color: black;
}

.button-submit {

    background-color: black;
    padding: 10px;
    border-radius: 30px;
    border: none;
    color: violet;
    width: 50%;
    margin-top: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: lucida console ;

}

.button-submit:hover{

    background-color: #FF1042;
    transition-duration: 1s;
}
